<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="bi bi-book"></i> Bibliokie <i class="bi bi-book"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let nav of listNavs">
          <a class="nav-link" [ngClass]="{ 'active': nav.isActive }" [href]="nav.href" [title]="nav.title">{{ nav.text }}</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active a-editProfile" title="Editar Perfil" [href]="profileUrl">
            <i class="bi bi-person-workspace"></i>
          </a>
        </li>
      
        <li class="nav-item">
          <a type="button" class="nav-link active a-logOut" href="#" (click)="$event.preventDefault(); logOut();" title="Cerrar Sesión">
            <i class="bi bi-box-arrow-right"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>