<div class="main-div  w-100 m-auto">


  <div class="row">
    <div class="col-6">
      <div class="card h-800">
        <img [src]="'https://covers.openlibrary.org/b/isbn/' +  isbnImage + '-L.jpg'" alt="Portada del libro" />
        <button *ngIf="isAdmin" class="mt-2 btn btn-warning" (click)="openCreateBookingLoanAdminModal()">Crear reserva</button>
      </div>
    </div>
    <div class="col-6">
      <h2 *ngIf="isAdmin" >Editar libro </h2>
      <h2 *ngIf="isAdmin" >Detalles libro </h2>
      <app-dynamic-form
        [fields]="fields"
        [errorMessage]="errorMessage"
        [successMessage]="successMessage"
        [form]="form"
        [submitFn]="updateBook.bind(this)"
        (formTouched)="deleteMessages()"
        [isVisibleSubmitButton]="isAdmin"
        submitButtonText="Modificar libro">
      </app-dynamic-form>
      <button *ngIf="!isAdmin" class="mt-2 btn btn-warning w-100 py-2 " (click)="openCreateBookingLoanClientModal()">Crear reserva</button>
    </div>
  </div>

</div>
