<main class="main-register  w-100 m-auto">
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="form-register">
    <h1 class="h3 mb-3 fw-normal">Registro</h1> 
    <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
      {{ successMessage }}
    </div>
    <div class="form-floating mb-3"> 
        <input type="text" formControlName="name" class="form-control" id="floatingInput" placeholder="Escribe tu nombre" required> 
        <label for="floatingInput">Nombre</label> 
    </div> 
    <div class="form-floating mb-3"> 
        <input type="text" formControlName="lastName" class="form-control" id="floatingInput" placeholder="Escribe tus apellidos"> 
        <label for="floatingInput">Apellidos</label> 
    </div> 
    <div class="form-floating mb-3"> 
        <input type="text" formControlName="dni" class="form-control" id="floatingInput" placeholder="Escribe tu dni" required> 
        <label for="floatingInput">DNI</label> 
    </div> 
    <div class="form-floating mb-3"> 
        <input type="email" formControlName="email" class="form-control" id="floatingInput" placeholder="Escribe tu email" required> 
        <label for="floatingInput">Email</label> 
    </div> 

    <div class="form-floating mb-3">
        <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Escribe tu contraseña" required> 
        <label for="floatingPassword">Contraseña</label> 
    </div> 

    <div class="form-floating mb-3">
        <input type="password" formControlName="repeatPassword" class="form-control" id="floatingRepeatPassword" placeholder="Escribe de nuevo la contraseña" required> 
        <label for="floatingRepeatPassword">Contraseña</label> 
    </div> 
    <button class="btn btn-primary w-100 py-2 mt-4" type="submit" [disabled]="registerForm.invalid">Registrarse</button> 
    
    <div class="text-center mt-3">
        <p>¿Ya tienes cuenta? <a routerLink="/bibliokie/auth/login">Inicia sesión aquí</a></p>
    </div>

    <p class="mt-5 mb-3 text-body-secondary">© 2025 - Coded by Jorge Muñoz Pavón</p> 
    </form>
    <app-spinner></app-spinner>
</main>
