<div class="main-register  w-100 m-auto">
    <h2>Registro </h2>
    <app-dynamic-form
        [fields]="fields"
        [errorMessage]="errorMessage"
        [successMessage]="successMessage"
        [form]="form"
        [submitFn]="register.bind(this)"
        (formTouched)="deleteMessages()"
        submitButtonText="Crear cuenta">
    </app-dynamic-form>
    
    <div class="text-center mt-3">
        <p>¿Ya tienes cuenta? <a routerLink="/bibliokie/auth/login">Inicia sesión aquí</a></p>
    </div>

    <p class="mt-5 mb-3 text-body-secondary">© 2025 - Coded by Jorge Muñoz Pavón</p> 
</div>
