
<div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
  {{ errorMessage }}
</div>
<div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
  {{ successMessage }}
</div>
<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" class="dynamic-form">
  <div *ngFor="let field of fields" class="form-floating mb-3">
    <div *ngIf="field.type === 'checkbox'" class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        [id]="field.name"
        [formControlName]="field.name"
      />
      <label class="form-check-label" [for]="field.name">
        {{ field.label }}
      </label>
    </div>
    
    <input *ngIf="field.type !== 'checkbox'" 
      [type]="field.type"
      [formControlName]="field.name"
      [id]="field.name"
      class="form-control"
      [placeholder]="field.placeholder || field.label"
    />
    <label *ngIf="field.type !== 'checkbox'" [for]="field.name">{{ field.label }}</label>

  </div>

  <button *ngIf="isVisibleSubmitButton" class="btn btn-primary w-100 py-2 mt-4" type="submit" [disabled]="form.invalid">
    {{ submitButtonText }}
  </button>
</form>
