<footer class="bg-dark text-white pt-4 pb-2 mt-5">
  <div class="container text-center text-md-start">
    <div class="row">
      <div class="col-md-2 mb-2">

      </div>
      <div class="col-md-3 mb-3">
        <h5 class="text-uppercase fw-bold">BIBLIOKIE</h5>
        <p>Tu plataforma favorita.</p>
      </div>
      <div class="col-md-3 mb-3">
        <h5 class="text-uppercase fw-bold">CREADO POR</h5>
        <p>Jorge Muñoz Pavón</p>
      </div>
      <div class="col-md-3 mb-3">
        <h5 class="text-uppercase fw-bold">Sígueme en</h5>
        <a href="https://www.linkedin.com/in/jorge-mu%C3%B1oz-pav%C3%B3n-121126240/" class="text-white me-3" target="_blank"><i class="bi bi-linkedin"></i></a>
        <a href="https://github.com/jorgempavon" class="text-white me-3" target="_blank"><i class="bi bi-github"></i></a>
      </div>
      <div class="col-md-1 mb-1">

      </div>
    </div>
  </div>
  <div class="text-center mt-3 border-top border-light pt-2">
    <small>&copy; 2025 BIBLIOKIE. Todos los derechos reservados.</small>
  </div>
</footer>
